html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

body #nprogress .bar {
	background: #3C6F72;
	height: 5px;
}  

#nprogress .peg {
  display: none !important;
}

body #nprogress .spinner-icon {
	border-top-color: #3C6F72;
  border-left-color: #21333B;

}

.ant-spin-dot-item {
	background-color: #ABC5A1 !important;
}

@font-face {
	font-family : 'GT';
	src: url('/fonts/GT_Walsheim/GT-Walsheim-Medium.ttf');
	font-weight:normal;
	font-style:normal;
	font-display:swap;
}

@font-face {
	font-family : 'Space Mono';
	src: url('/fonts/Space_Mono/SpaceMono-Regular.ttf');
	font-weight:normal;
	font-style:normal;
	font-display:swap;
}
@font-face {
	font-family : 'Space Mono';
	src: url('/fonts/Space_Mono/SpaceMono-Bold.ttf');
	font-weight:bold;
	font-style:normal;
	font-display:swap;
}